section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  margin: 30px;
  padding: 14px;
  border: solid thick blue;
}


/* Struggling a little on this one. Borders of mine dont seem thick enough,
 and increasing padding any further causes overflow.  */